name: Deploy Next.js to EC2

on:
  push:
    branches:
      - main # Triggers on pushes to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 #clone the repo

    - name: Multiple commands
      uses: appleboy/ssh-action@v1
      with:
        host: 15.206.168.27
        username: ubuntu
        key: ${{ secrets.PRIVATE_SSH_KEY }}
        port: 22
        script: ./deploy.sh