name: Deploy Next.js to EC2  # Name of the GitHub Actions workflow

on:
  push:
    branches:
      - main # Run this workflow only when code is pushed to the main branc

jobs:
  deploy:  # Define a job named "deploy"
    runs-on: ubuntu-latest  # Use a fresh Ubuntu runner provided by GitHub

    steps:
    - name: Checkout code  # Step to get the latest code from GitHub
      uses: actions/checkout@v4 # Action to clone your repository

    - name: Multiple commands  # Step to run deployment commands on your EC2 server
      uses: appleboy/ssh-action@v1  # Use SSH to connect to a remote server
      with:
        host: 172.31.42.166  # EC2 instance IP address
        username: ubuntu  # Username to log into EC2
        key: ${{ secrets.PRIVATE_SSH_KEY }}  # SSH private key stored in GitHub Secrets
        port: 22  # SSH port (default 22)
        script: ./deploy.sh  # Command/script to run on the EC2 server (your deployment script)
